
HighScore/.vs/HighScore/DesignTimeBuild/.dtbcache.v2
HighScore/.vs/HighScore/DesignTimeBuild/.dtbcache.v2
HighScore/.vs/HighScore/DesignTimeBuild/.dtbcache.v2
HighScore/.vs/HighScore/FileContentIndex/064e67c9-60d6-473f-81c9-cc63ab599816.vsidx
HighScore/.vs/HighScore/DesignTimeBuild/.dtbcache.v2
HighScore/.vs/HighScore/FileContentIndex/0a1f07ba-c6b5-49ad-b687-808f1c36c29e.vsidx
HighScore/.vs/HighScore/FileContentIndex/0aefd0c0-5356-43fb-9fd1-333eead033b8.vsidx
HighScore/.vs/HighScore/FileContentIndex/51eaed2c-35d3-44a3-a991-ed197a7ce98c.vsidx
HighScore/.vs/HighScore/FileContentIndex/76438058-550c-4c94-9afb-8827fefa77f7.vsidx
HighScore/obj/Debug/net6.0/HighScore.dll
HighScore/bin/Debug/net6.0/HighScore.pdb
HighScore/bin/Debug/net6.0/HighScore.dll
HighScore/.vs/ProjectEvaluation/highscore.projects.v6.1
HighScore/.vs/HighScore/v17/.suo
HighScore/.vs/HighScore/v17/.futdcache.v2
HighScore/.vs/HighScore/FileContentIndex/0aefd0c0-5356-43fb-9fd1-333eead033b8.vsidx
HighScore/.vs/HighScore/DesignTimeBuild/.dtbcache.v2
HighScore/obj/Debug/net6.0/HighScore.pdb
HighScore/obj/Debug/net6.0/HighScore.dll
HighScore/bin/Debug/net6.0/HighScore.pdb
HighScore/bin/Debug/net6.0/HighScore.dll
HighScore/.vs/ProjectEvaluation/highscore.projects.v6.1
HighScore/.vs/ProjectEvaluation/highscore.metadata.v6.1
HighScore/.vs/HighScore/v17/.suo
HighScore/.vs/HighScore/v17/.futdcache.v2
HighScore/.vs/HighScore/FileContentIndex/dd6eaec2-2ea3-4e4a-aae4-d1904213ae32.vsidx
HighScore/.vs/HighScore/FileContentIndex/b19a50cb-d008-4149-8978-844265d63669.vsidx
HighScore/.vs/HighScore/FileContentIndex/a66b781a-f534-414b-b913-bb141206bd35.vsidx
HighScore/.vs/HighScore/FileContentIndex/51eaed2c-35d3-44a3-a991-ed197a7ce98c.vsidx
HighScore/.vs/HighScore/FileContentIndex/0aefd0c0-5356-43fb-9fd1-333eead033b8.vsidx
HighScore/.vs/HighScore/DesignTimeBuild/.dtbcache.v2
HighScore/obj/Debug/net6.0/HighScore.pdb
HighScore/obj/Debug/net6.0/HighScore.dll
HighScore/bin/Debug/net6.0/HighScore.pdb
HighScore/bin/Debug/net6.0/HighScore.dll
HighScore/.vs/ProjectEvaluation/highscore.projects.v6.1
HighScore/.vs/ProjectEvaluation/highscore.metadata.v6.1
HighScore/.vs/HighScore/v17/.suo
HighScore/.vs/HighScore/v17/.futdcache.v2
HighScore/.vs/HighScore/FileContentIndex/dd6eaec2-2ea3-4e4a-aae4-d1904213ae32.vsidx
HighScore/.vs/HighScore/FileContentIndex/b19a50cb-d008-4149-8978-844265d63669.vsidx
HighScore/.vs/HighScore/FileContentIndex/51eaed2c-35d3-44a3-a991-ed197a7ce98c.vsidx
HighScore/.vs/HighScore/FileContentIndex/0aefd0c0-5356-43fb-9fd1-333eead033b8.vsidx
HighScore/.vs/HighScore/DesignTimeBuild/.dtbcache.v2
